@import url('https://fonts.googleapis.com/css2?family=Playwrite+RO:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";



:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  background: rgb(20, 20, 20);
  color: white;
}

.playwrite {
  font-family: "Playwrite RO", cursive;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.bg-opacity{
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-grey{
  background-color: rgb(24, 24, 24);
}

